<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/pic.jpg">
        <title> 404 </title>
    </head>
    <title></title>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>
</html>