<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <link rel="stylesheet" href="./css/styles.css">
                <link rel="icon" href="/img/pic.jpg">

    </head>
    <title></title>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site is created by {{name}}. It uses data from mapbox.com and weather Api </p>
    <img src="img/pic.jpg" width="500" class="protrait">
    </div>
    {{>footer}}
</body>
</html>